// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2


.atmosphere__moon {
    margin-top: 500px;
    background-color: #005BA7;
    height: 25vh;
    width: 100%;
    position: relative;
    
    &:before {
        position: absolute;
        content: "";
        background-color: #FFFFFF;
        border-radius: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 50%;
       
        height: 25vh;
        width: 50vw;
        bottom: 10vh;        
    }
    &:after{
        position: absolute;
        content: "";
        background-color: #005BA7;
        height: 25vh;
        width: 49vw;
        left: 50vw;
        border-radius: 100%;
        border-top-right-radius: 0;
        bottom: 10vh;
        

    }
}

.background-lightblue{
    background-color: #00B1DC;
}
.background-pink{
    background-color: #C77161;
}

footer{
    background-color: #005BA7;
}