// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
html{
    background-color: #FFFFFF;
    margin: 0 auto;
    
}
body{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "marydale";
    src: url('../font/Marydale\ Regular.ttf')
}



.background2, .background3, .background4{
    position: absolute;
}

header{
    position: relative;
    width: 100%;
        .background1{
            position: relative;
            width: 100%;
            z-index: 0;
            
        }
        h1{
            position: absolute;
            font-family: sans-serif;
            top: 10%;
            left: 10%;
            color: #005BA7;
            font-size: 5.5vw;
            max-width: 20%;
            span{
                color: green;
            }
        }
        
        p{
            position: absolute;
            top: 20vw;
            left: 10%;
            font-family: "marydale", sans-serif;
            font-size: 1.5vw;
            width: 30ch;
            font-weight: bold;
        }
}
.moon{
    position: relative;
    width: 100%;

    p{
        font-family: "marydale", sans-serif;
        font-size: 1.7vw;
        font-weight: bold;
        width: 28ch
    }
    .background2{
        
        z-index: -1;
        top: 1%;
        width: 100%;
        top: -30vw;
    }
    p{
        position: absolute;
        color: white;
        left: 10%;
        top: 75%;
       
    }
    .moon-img {
        position: absolute;
        max-width: 20%;
        height: auto;
        right: 15%;
        top: -7vw;
    }
    .bigstar {
        position: absolute;
        width: 5%;
        height: auto;
        right: 12%;
        top: -10vw;
    }
    .smallstar {
        position: absolute;
        width: 3%;
        height: auto;
        right: 9%;
        top: -2vw;
    }
}
.background3{
    z-index: -2;
    top: 45vw;
    width: 100%;
}
.lightblue{
    position: relative;
    width: 100%;
    
}

.pink{
    .background4{
        position: relative;
        z-index: -3;
        width: 100%;
        top: 51vw;
       
    }
}

    .car {
        position: absolute;
        width: 20%;
        height: auto;
        translate: 200%;
        top: 24vw;
    }

    .cartext {
        position: absolute;
        width: 50%;
        height: auto;
        translate: 17%;
        top: 19vw;
    }

    .fartclouds {
        position: absolute;
        width: 70%;
        height: auto;
        translate: 22%;
        top: 35vw;
    }
    .planet__humans{
        position: absolute;
        left: 25vw;
        top: 90vw;
        z-index: 4;
        width: 100vw;
        max-width: 100%;
    }
    .lefthuman {
        max-width: 17%;
        height: auto;
    }
    .middlehuman {
        max-width: 15%;
        height: auto;
    }
    .righthuman {
        max-width: 20%;
        height: auto;
        left: 100%;
    }


.planet__earth {
    .planet__earth--list {
        .list1 {

        }
        .list2 {

        }
        .list3 {

        }
        .list4 {

        }
        .list5 {

        }
    }
    .planet__earth--img {
        .earth {

        }
        .qrcode {
            width: 125px;
            height: auto;
        }
    }
}
.globe-pic{
    position: absolute;
    top: 110vw;
    right: 1.2vw;
}

footer{
    .footer__textinfo {

    }
    .footer__logo {

    }
    .footer__link {

    }
    .footer__contact {

    }
}