html {
  background-color: #FFFFFF;
  margin: 0 auto;
}

body {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "marydale";
  src: url("../font/Marydale Regular.ttf");
}
.background2, .background3, .background4 {
  position: absolute;
}

header {
  position: relative;
  width: 100%;
}
header .background1 {
  position: relative;
  width: 100%;
  z-index: 0;
}
header h1 {
  position: absolute;
  font-family: sans-serif;
  top: 10%;
  left: 10%;
  color: #005BA7;
  font-size: 5.5vw;
  max-width: 20%;
}
header h1 span {
  color: green;
}
header p {
  position: absolute;
  top: 20vw;
  left: 10%;
  font-family: "marydale", sans-serif;
  font-size: 2.3vw;
  width: 30ch;
  font-weight: bold;
}

.moon {
  position: relative;
  width: 100%;
}
.moon p {
  font-family: "marydale", sans-serif;
  font-size: 2.1vw;
  font-weight: bold;
  width: 28ch;
}
.moon .background2 {
  z-index: -1;
  top: 1%;
  width: 100%;
  top: -30vw;
}
.moon p {
  position: absolute;
  color: white;
  left: 10%;
  top: 75%;
}
.moon .moon-img {
  position: absolute;
  max-width: 20%;
  height: auto;
  right: 15%;
  top: -7vw;
  animation-name: moonhover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes moonhover {
  0% {
    top: -7vw;
  }
  50% {
    top: -5vw;
  }
  100% {
    top: -7vw;
  }
}
@keyframes starscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.moon .bigstar {
  position: absolute;
  width: 5%;
  height: auto;
  right: 12%;
  top: -10vw;
  animation-name: starscale;
  animation-duration: 2.7s;
  animation-iteration-count: infinite;
}
.moon .smallstar {
  position: absolute;
  width: 3%;
  height: auto;
  right: 9%;
  top: -2vw;
  animation-name: starscale;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.background3 {
  z-index: -2;
  top: 45vw;
  width: 100%;
}

.lightblue {
  position: relative;
  width: 100%;
}

.pink .background4 {
  position: relative;
  z-index: -3;
  width: 100%;
  top: 51vw;
}

.car {
  position: absolute;
  width: 20%;
  height: auto;
  translate: 180%;
  top: 13vw;
}

.cartext {
  position: absolute;
  width: 50%;
  height: auto;
  translate: 8%;
  top: 7vw;
}

.fartclouds {
  position: absolute;
  width: 70%;
  height: auto;
  translate: 20%;
  top: 30vw;
}

.planet__humans {
  position: absolute;
  left: 22vw;
  top: 80vw;
  z-index: 4;
  width: 100vw;
  max-width: 100%;
}

.lefthuman {
  max-width: 17%;
  height: auto;
  transform: translateX(-25%);
  animation-name: human;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.middlehuman {
  max-width: 15%;
  height: auto;
  transform: translate(20%, -15%);
  animation-name: human;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.righthuman {
  max-width: 20%;
  height: auto;
  left: 100%;
  transform: translate(25%, -5%);
  animation-name: human;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes human {
  0% {
    transform: translateY(-2vw) rotate(-5deg);
  }
  50% {
    transform: translateY(-1vw) rotate(10deg);
  }
  100% {
    transform: translateY(-2vw) rotate(-5deg);
  }
}
.planet__earth .planet__earth--img .qrcode {
  width: 125px;
  height: auto;
}

@keyframes globerotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.globe-pic {
  position: absolute;
  top: 12vw;
  z-index: 0;
  right: 1.2vw;
  animation: globerotate 120s linear infinite;
}

footer {
  position: relative;
  z-index: 5;
  bottom: -250vh;
  font-family: "marydale";
  color: #FFFFFF;
  width: 100%;
  background-color: #FFFFFF;
}
footer .footer__textinfo {
  font-family: "marydale", sans-serif;
  font-weight: bold;
  margin: 0px 13px 0px 13px;
  color: black;
}
footer .footer__color {
  background-color: #005BA7;
}
footer .footer__color .footer__logo {
  flex: 1;
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
  margin-left: 2%;
  margin-right: 3%;
}
footer .footer__color .footer__link {
  flex: 1;
  text-align: center;
}
footer .footer__color .footer__contact {
  flex: 1;
  text-align: center;
}

.footer__color {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: "marydale", sans-serif;
  font-weight: bold;
}

.earth {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.grid {
  position: absolute;
  top: 17vw;
  left: -4vw;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 50fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: black;
}

.grid-item > p {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10%;
  border-radius: 15px;
  font-family: "marydale";
  font-weight: bold;
}

.grid-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin-left: 60%;
}

.grid-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-left: 40%;
  margin-right: 25%;
  margin-bottom: 75%;
  margin-top: 5%;
}

.grid-item:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
  margin-right: 40%;
}

.grid-item:nth-child(4) {
  grid-column: 3;
  grid-row: 1;
  margin-top: 70%;
  margin-right: 30%;
  margin-left: 20%;
}

.grid-item:nth-child(5) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 70%;
  margin-left: 50%;
}

.grid-item:nth-child(6) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 10%;
}/*# sourceMappingURL=style.css.map */