// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

.atmosphere__title {
    .header {

    }
    .text {

    }
}

.atmosphere__moon {
    margin-top: 500px;
    background-color: #005BA7;
    height: 25vh;
    width: 100%;
    position: relative;
    
    &:before {
        position: absolute;
        content: "";
        background-color: #FFFFFF;
        border-radius: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 50%;
       
        height: 25vh;
        width: 50vw;
        bottom: 10vh;        
    }
    &:after{
        position: absolute;
        content: "";
        background-color: #005BA7;
        height: 25vh;
        width: 49vw;
        left: 50vw;
        border-radius: 100%;
        border-top-right-radius: 0;
        bottom: 10vh;
        

    }
    .atmosphere__moon--text {

    }
    .atmosphere__moon--img {
    .moon {
        width: 250px;
        height: auto;
    }
    .bigstar {
        width: 75px;
        height: auto;
    }
    .smallstar {
        width: 50px;
        height: auto;
    }
    }
}

.atmosphere__car {
    .curvetext {

    }
    .car {
        width: 250px;
        height: auto;
    }
}


.planet__humans {
    .fartclouds {
        width: 70%;
        height: auto;
    }
    .lefthuman {
        width: 250px;
        height: auto;
    }
    .middlehuman {
        width: 210px;
        height: auto;
    }
    .righthuman {
        width: 275px;
        height: auto;
    }
}

.planet__earth {
    .planet__earth--list {
        .list1 {

        }
        .list2 {

        }
        .list3 {

        }
        .list4 {

        }
        .list5 {

        }
    }
    .planet__earth--img {
        .earth {

        }
        .qrcode {
            width: 125px;
            height: auto;
        }
    }
}

footer{
    .footer__textinfo {

    }
    .footer__logo {

    }
    .footer__link {

    }
    .footer__contact {

    }
}